{% extends "template.html" %}

<!DOCTYPE html>
{% block body %}
<body>
    {% set login = user_login %}
    {% set email = user_email %}
    <div class="home">
        <h1 align="center">Welcome to ghost picker name</h1>
        <div>
            <table class="table table-dark">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">ghost name</th>
                        <th scope="col">user ghost name</th>
                        <th scope="col">email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dict_item in record %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            {% for key, value in dict_item.items() %}
                            <td>{{value}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
            <button></button> 
        </div>
    </div>
</body>
{% endblock %}
</html>

