{% extends "template.html" %}

<!DOCTYPE html>
{% block body %}
<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/suggestions.css') }}">

    <div>
        <h1>Pick the choosen one..</h1>
    </div>
    <div>
        <form action="" method="post" >
        <table class="cinereousTable">
            <thead>
                <tr>
                <th scope="col">Ghost Name</th>
                <th scope="col">Your Name</th>
                <th scope="col">Decision</th>
                </tr>
            </thead>
            <tbody>
                {% for name,result in recommendation %}
                <tr>
                    <td><input type="hidden" name="ghost_name" value="{{name}}">{{name}}</td>
                    <td><input type="hidden" name="ghost_user_name" value="{{result}}">{{result}}</td>
                    <td> <button class='button' type="submit">Pick Me</button> </td>
                </tr>  
                {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
</body>

{% endblock %}